@import url("./styles/headerAndFooter.css");
@import url("./styles/cover.css");
@import url("./styles/recentProjects.css");
@import url("./styles/banner.css");
@import url("./styles/resume.css");
@import url("./styles/hobbies.css");
@import url("./styles/skills.css");
@import url("./styles/hobbies.css");
@import url("./styles/project.css");
@import url("./styles/aboutMe.css");


@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('./fonts/ShareTechMono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.presentation, .footerMedia {
    background-color: #293033;
}

.projectProjects {
    min-height: calc(100vh - 180px); /*to footer on bottom (page projects)*/
}

h2 {
    font-size: 18pt;
    margin-bottom: 10px;
    color: #293033d7;
}

h3 {
    font-size: 18pt;
}

a {
    text-decoration: none;
}

hr {
    height: 2px;
    background-color:#293033d7;
    border: none;
}

.nSection {
    padding: 20px 5% 0px;
    margin: 0 auto;
    color: #293033;
}

/* Tablet */
@media (min-width: 768px) {
    .nSection {
        padding: 40px 18% 20px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h3 {
        font-size: 28pt;
    }
    .nSection {
        max-width: 1400px;
    }
}