@import url("./styles/header.css");
@import url("./styles/cover.css");
@import url("./styles/recentProjects.css");
@import url("./styles/banner.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.presentation {
    background-color: #293033;
}

h2 {
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    font-size: 13pt;
    font-weight: 600;
}

a {
    text-decoration: none;
}