.octagonWrap {
    width:380px;
    height:380px;
    float: left;
    position: relative;
    overflow: hidden;
}
.octagon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    border: 20px solid #23282B;
}
.octagon:before {
    position: absolute;
    /* There needs to be a negative value here to cancel
     * out the width of the border. It's currently -3px,
     * but if the border were 5px, then it'd be -5px.
     */
    top: -20px; right: -20px; bottom: -20px; left: -20px;
    transform: rotate(45deg);
    content: '';
    border: inherit;
}

.profilePhoto {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    width: 340px;
    transform: rotate(-45deg);
    margin: 0 auto;
}

.coverRow {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Share Tech Mono';
    font-size: 60pt;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}

.octagonDesc {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(-45deg);
    color: #ffffff;
    padding: 60px 30px 30px 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 16.4pt;
    font-weight: 200;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.elementR {
    padding-left: 75px;
}

.elementL {
    padding-right: 75px;
}

/*Social media icons*/
.socialMedia > a > img{
    width: 35px;
}

.socialMedia {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}