.coverRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h1 {
    font-family: 'Share Tech Mono';
    font-size: 50pt;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.elementL {
    /* padding-right: 75px; */
    margin-bottom: 40px;
}

.elementR {
    margin-top: 30px;
}

.profilePhoto {
    width: 250px;
    --stroke-pos: 6px;
    --stroke-neg: -6px;
    --stroke-color: #23282B;
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) 
      drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) 
      drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));   
}

/*Social media icons*/
.socialMedia > a > img{
    width: 35px;
}

.socialMedia {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Tablet */
@media (min-width: 768px) {
    .coverRow {
        flex-direction: row;
    }

    .elementR {
        padding-left: 75px;
    }

    .elementL {
        padding-right: 75px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .profilePhoto {
        width: 340px; /*width/height - 40px*/
    }

    h1 {
        font-size: 60pt;
    }
}

/* To animations */
#photo1 {
    transform: translateX(-200%);
}

#title1 {
    transform: translateX(200%);
}

#photo2 {
    transform: translateX(200%);
}

#title2 {
    transform: translateX(-200%);
}