.individualProject {
    background-color: rgba(41, 48, 51, 0.04);
    margin: 40px;
    width: 90%;
}

.desc-header {
    display: flex;
    align-items: center;
}

.desc-header > img{
    width: 100px;
    margin: 20px 20px;
}

.desc-header > h1 {
    font-size: 22pt;
    color: #293033;
    margin-left: 5px;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
}

.project-images > img {
    width: 350px;
    margin: 10px auto;
}

.project-description {
    font-size: 12pt;
    margin: 20px 20px;
    text-align: justify;
    line-height: 151%;
}

.project-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project-buttons > a {
    font-size: 14pt;
    margin: 0 20px;
    text-align: center;
    background-color: #293033;
    color: #ffffff;
    width: 100%;
    padding: 8px 0;
    display: inline;
  }