.project > section > article > img {
    width: 150px;
}

.project > section > article {
    width: 90%;
    /* desktop - 90% */
    background-color: rgba(41, 48, 51, 0.04);
    margin: 45px auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project > section > article > div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    /* padding-left: 30px; */
}

.project > section > article > div > p, a {
    margin-top: 15px;
}

.project > section > article > div > p {
    font-size: 10.5pt;
    font-weight: 400;
    text-align: justify;
    line-height: 151%;
}

.project > section > article > div > a {
    text-align: center;
    background-color: #293033;
    color: #ffffff;
    padding: 8px 0;
}

/* Tablet */
@media (min-width: 768px) {
    .project > section > article {
        flex-direction: row;
    }

    .project > section > article > div {
        padding-left: 30px;
        text-align: left;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .project > section > article > img {
        width: 200px;
    }

    .project > section > article > div > p {
        font-size: 12pt;
    }
}